{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [ "wesbos" ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "no-empty":"off",
        "no-unused-vars":"off",
        "no-shadow":"off",
        "no-undef":"off",
        "no-useless-escape":"off"
    }
}
